[Desktop Entry]
Version=1.0
Name=Hibernate
Type=Application
Comment=Hibernate system
Terminal=true
Exec=systemctl hibernate
Icon=suspend
Categories=Power;
GenericName=Hibernate system
Keywords=power;hibernate
