[Desktop Entry]
Version=1.0
Name=Lock Session
Type=Application
Comment=Locl Session
Terminal=true
Exec=x-locker
Icon=lock
Categories=Power;
GenericName=Lock Session
Keywords=power;lock
