[Desktop Entry]
Version=1.0
Name=Poweroff
Type=Application
Comment=Poweroff system
Terminal=true
Exec=systemctl poweroff
Icon=shutdown
Categories=Power;
GenericName=Poweroff system
Keywords=power;poweroff
