<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">


    <menu id="root-menu" label="Openbox 3">
		<item label="Run Program" icon="/usr/share/icons/openbox-menu/search.png">
			<action name="Execute">
				<command>rofi -show drun</command>
			</action>
		</item> 

		<separator/> <item label="VirtualBox" icon="/usr/share/icons/openbox-menu/virtualbox.png"><action name="Execute"><command>virtualbox</command></action></item> 
		
		<item label="Terminal" icon="/usr/share/icons/openbox-menu/terminal.png">
            <action name="Execute">
                <command>
                    x-terminal-emulator
                </command>
            </action>
        </item>
        <item label="Web Browser" icon="/usr/share/icons/openbox-menu/web-browser.png">
            <action name="Execute">
                <command>
                    x-www-browser
                </command>
            </action>
        </item>
        <item label="File Manager" icon="/usr/share/icons/openbox-menu/file-manager.png">
            <action name="Execute">
                <command>
                    x-file-manager
                </command>
            </action>
        </item>
        <item label="Text Editor" icon="/usr/share/icons/openbox-menu/text-editor.png">
            <action name="Execute">
                <command>
                    x-text-editor
                </command>
            </action>
        </item>

        <menu id="desktop-app-menu" label="Applications" icon="/usr/share/icons/openbox-menu/applications.png" execute="obamenu" />
		
        <separator/>


        <menu id="preferences" label="Preferences" icon="/usr/share/icons/openbox-menu/settings.png">
        	<separator label="GRAPHICAL PREFERENCES"/>

            <menu id="obConfig" label="Desktop" icon="/usr/share/icons/openbox-menu/openbox.png">	
	            <item label="Openbox Preferences" icon="/usr/share/icons/openbox-menu/openbox.png">
	                <action name="Execute">
	                    <command>
	                        obconf
	                    </command>
	                </action>
	            </item>	
                <item label="Edit Openbox config file rc.xml" icon="/usr/share/icons/openbox-menu/text-editor.png">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/rc.xml
                        </command>
                    </action>
                </item>		
                <item label="How to configure Openbox?" icon="/usr/share/icons/openbox-menu/help2.png">
                    <action name="Execute">
                        <command>
                            x-www-browser "http://openbox.org/wiki/Help:Contents" "https://wiki.archlinux.org/index.php/openbox"
                        </command>
                    </action>
                </item>	                
                <separator/>
                <item label="Reload Openbox configuration" icon="/usr/share/icons/openbox-menu/restart2.png">
                    <action name="Reconfigure"/>
                </item>
                <item label="Restart Openbox" icon="/usr/share/icons/openbox-menu/restart.png">
                    <action name="Restart"/>
                </item>
            </menu>

        	<menu id="obmenu" label="Menu" icon="/usr/share/icons/openbox-menu/menu.png">
                <item label="Edit menu.xml" icon="/usr/share/icons/openbox-menu/text-editor.png">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/menu.xml
                        </command>
                    </action>
                </item>
                <item label="GUI Menu Editor" icon="/usr/share/icons/openbox-menu/menu.png">
                    <action name="Execute">
                        <command>
                            obmenu
                        </command>
                    </action>
                </item>	        		
                <item label="Hide/show icons in menu" icon="/usr/share/icons/openbox-menu/menu-icons.png">
                    <action name="Execute">
                        <command>
							bash -c 'if grep -q icon_hide=\" ~/.config/openbox/menu.xml; then sed -i "s/icon_hide=\"/icon=\"/g" ~/.config/openbox/menu.xml; else sed -i "s/icon=\"/icon_hide=\"/g" ~/.config/openbox/menu.xml; fi'
                        </command>
                    </action>
                    <action name="Reconfigure"/>
                </item>        
                <item label="How to configure menu.xml?" icon="/usr/share/icons/openbox-menu/help2.png">
                    <action name="Execute">
                        <command>
                            x-www-browser "http://openbox.org/wiki/Help:Menus" "https://wiki.archlinux.org/index.php/openbox#Menus"
                        </command>
                    </action>
                </item>	                 
                <separator/>		        		
                <item label="Reload Menu" icon="/usr/share/icons/openbox-menu/restart.png">
                    <action name="Reconfigure"/>
                </item>
        	</menu>

        	<menu id="compositor" label="Compositor" icon="/usr/share/icons/openbox-menu/compositor.png">
	            <item label="Edit Compositor Settings" icon="/usr/share/icons/openbox-menu/text-editor.png">
        			<action name="Execute">
	                    <command>
	                        x-text-editor ~/.config/compton.conf
	                    </command>
	                </action>
	            </item>
	            <separator/>
				<item label="Restart" icon="/usr/share/icons/openbox-menu/restart.png">
					<action name="Execute">
						<command>
							bash -c 'killall compton; compton'
						</command>
					</action>
				</item>						
	            <item label="Stop" icon="/usr/share/icons/openbox-menu/stop.png">
	                <action name="Execute">
	                    <command>
	                        killall compton
	                    </command>
	                </action>
               </item>		
			</menu>			

        	<menu id="tint2" label="Taskbar" icon="/usr/share/icons/openbox-menu/tint2.png">
	            <item label="GUI Tint2 Config Tool" icon="/usr/share/icons/openbox-menu/tint2.png">
        			<action name="Execute">
	                    <command>
	                        tint2conf
	                    </command>
	                </action>
	            </item>
				<item label="Open Your Tints Folder" icon="/usr/share/icons/openbox-menu/file-manager.png">
        			<action name="Execute">
	                    <command>
	                        x-file-manager ~/.config/tint2/
	                    </command>
	                </action>
	            </item>
                <item label="How to configure Tint2?" icon="/usr/share/icons/openbox-menu/help2.png">
                    <action name="Execute">
                        <command>
                            x-www-browser "https://gitlab.com/o9000/tint2/blob/master/doc/tint2.md"
                        </command>
                    </action>
                </item>	 	            
	            <separator/>
	            <item label="Restart" icon="/usr/share/icons/openbox-menu/restart.png">
	                <action name="Execute">
	                    <command>
	                        tint2-session
	                    </command>
	                </action>
               </item>
	            <item label="Stop" icon="/usr/share/icons/openbox-menu/stop.png">
	                <action name="Execute">
	                    <command>
	                        tint2-session stop
	                    </command>
	                </action>
               </item>				
        	</menu>

        	<menu id="conky" label="Conky Panels" icon="/usr/share/icons/openbox-menu/panel.png">
        		<item label="Open Your Conkys Folder" icon="/usr/share/icons/openbox-menu/file-manager.png">
        			<action name="Execute">
	                    <command>
	                        x-file-manager ~/.config/conky/
	                    </command>
	                </action>
	            </item>
                <item label="How to configure Conky?" icon="/usr/share/icons/openbox-menu/help2.png">
                    <action name="Execute">
                        <command>
                            x-www-browser "https://github.com/brndnmtthws/conky/wiki"
                        </command>
                    </action>
                </item>	 	            
               <separator/>
	            <item label="Restart" icon="/usr/share/icons/openbox-menu/restart.png">
	                <action name="Execute">
	                    <command>
	                        conky-session
	                    </command>
	                </action>
               </item>
	            <item label="Stop" icon="/usr/share/icons/openbox-menu/stop.png">
	                <action name="Execute">
	                    <command>
	                        conky-session stop
	                    </command>
	                </action>
               </item>				
        	</menu>	
        	
        	<menu id="autostart" label="Autostarted programs" icon="/usr/share/icons/openbox-menu/startup.png">		
	            <item label="Edit Openbox Autostart" icon="/usr/share/icons/openbox-menu/text-editor.png">
	                <action name="Execute">
	                    <command>
	                        x-text-editor ~/.config/openbox/autostart
	                    </command>
	                </action>
	            </item>
				<item label="Show XDG autostarted programs" icon="/usr/share/icons/openbox-menu/terminal.png">
	                <action name="Execute">
	                    <command>
	                        x-terminal-emulator -m -e bash -c "if [ -f "/usr/lib/x86_64-linux-gnu/openbox-xdg-autostart" ]; then /usr/lib/x86_64-linux-gnu/openbox-xdg-autostart --list; else /usr/lib/i386-linux-gnu/openbox-xdg-autostart --list; fi; read"
	                    </command>
	                </action>
	            </item>        		
        	</menu>

        	<menu id="shortcuts" label="Keyboard and mouse shortcuts" icon="/usr/share/icons/openbox-menu/shortcut.png">		   		
	            <item label="Edit Openbox rc.xml" icon="/usr/share/icons/openbox-menu/text-editor.png">
	                <action name="Execute">
	                    <command>
	                        x-text-editor ~/.config/openbox/rc.xml
	                    </command>
	                </action>
	            </item>
                <item label="How to configure Openbox shortcuts?" icon="/usr/share/icons/openbox-menu/help2.png">
                    <action name="Execute">
                        <command>
                            x-www-browser "http://openbox.org/wiki/Help:Bindings"
                        </command>
                    </action>
                </item>	  	  
                <separator/>		        		
                <item label="Reload shortcuts" icon="/usr/share/icons/openbox-menu/restart.png">
                    <action name="Reconfigure"/>
                </item>                          
        	</menu>
	            
            <item label="GTK Appearance" icon="/usr/share/icons/openbox-menu/themes.png">>
                <action name="Execute">
                    <command>
                        lxappearance
                    </command>
                </action>
            </item>
            <item label="Font Configuration" icon="/usr/share/icons/openbox-menu/fonts.png">
                <action name="Execute">
                    <command>
                        x-text-editor ~/.config/fontconfig/fonts.conf
                    </command>
                </action>
            </item>
            <item label="Wallpaper" icon="/usr/share/icons/openbox-menu/wallpaper.png">
                <action name="Execute">
                    <command>
                        nitrogen
                    </command>
                </action>
            </item>
            <item label="Notifications" icon="/usr/share/icons/openbox-menu/notification.png">
                <action name="Execute">
                    <command>xfce4-notifyd-config</command>
                </action>
            </item>
			<item label="Display" icon="/usr/share/icons/openbox-menu/display.png">
				<action name="Execute">
					<command>
						arandr
					</command>
				</action>
			</item>

        	<separator label="SYSTEM PREFERENCES"/>

            <item label="Synaptic Package Manager" icon="/usr/share/icons/openbox-menu/package.png">
                <action name="Execute">
                    <command>
                        synaptic-pkexec
                    </command>
                </action>
            </item>
			<item label="Check Pending Updates" icon="/usr/share/icons/openbox-menu/updates.png">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bash -c "update-notification -i; read"
					</command>
				</action>
			</item>	            
            <item label="Alternatives" icon="/usr/share/icons/openbox-menu/link.png">
                <action name="Execute">
                    <command>
                        galternatives
                    </command>
                </action>
            </item>
            <item label="Power Management" icon="/usr/share/icons/openbox-menu/power.png">
                <action name="Execute">
                    <command>
                        xfce4-power-manager-settings
                    </command>
                </action>
            </item>
            <item label="Bluetooth" icon="/usr/share/icons/openbox-menu/bluetooth.png"> 	<!--DEBIAN-OPENBOX-bluetooth-->
                <action name="Execute"> 													<!--DEBIAN-OPENBOX-bluetooth-->
                    <command> 																<!--DEBIAN-OPENBOX-bluetooth-->
                        bt-session 															<!--DEBIAN-OPENBOX-bluetooth-->
                    </command> 																<!--DEBIAN-OPENBOX-bluetooth-->
                </action> 																	<!--DEBIAN-OPENBOX-bluetooth-->						
            </item> 																		<!--DEBIAN-OPENBOX-bluetooth-->
			<item label="Network Configuration" icon="/usr/share/icons/openbox-menu/network.png">
				<action name="Execute">
					<command>
						nm-connection-editor
					</command>
				</action>
			</item>
			<item label="Removable Drives and Media" icon="/usr/share/icons/openbox-menu/usb.png">
				<action name="Execute">
					<command>
						thunar-volman-settings
					</command>
				</action>
			</item>
			<item label="GParted Partition Manager" icon="/usr/share/icons/openbox-menu/disk.png">
				<action name="Execute">
					<command>
						gparted
					</command>
				</action>
			</item>
            <item label="Printers" icon="/usr/share/icons/openbox-menu/printer.png">
                <action name="Execute">
                    <command>
                        cups-session
                    </command>
                </action>
            </item>
        </menu>
		
        <menu id="info" label="System info" icon="/usr/share/icons/openbox-menu/stats.png">
            <separator label="SYSTEM INFO TOOLS" />
            
			<item label="System Info Panel">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bashtop
					</command>
				</action>
			</item>
			<item label="Hardware info">
                <action name="Execute">
                    <command>
                        x-terminal-emulator -m -e bash -c '{ echo -e "\e[1mHARDWARE INFO\e[0m"; hwinfo --short | egrep "^|^.*:"; } | less -R'
                    </command>
                </action>
            </item> 
			<item label="Memory Usage">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e sudo bash -c 'tput civis; read -p "Text to resalt: " t; while true; do clear; out=$(ps_mem.py -S); outl=$(echo "$out" | wc -l); sl=$(tput lines); if [ "$sl" -lt "$outl" ]; then echo "$out" | sed -e "3,$((outl-sl+4))d"; else echo "$out"; fi; read -t 2; done | egrep --color=auto -i "^|$t"'
					</command>
				</action>
			</item>
			<item label="Process Monitor">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e htop
					</command>
				</action>
			</item>
			<item label="Disks Usage">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bash -c '{ lsblk -o name,size,type,mountpoint; echo; dfc -f | egrep "^FILESYSTEM|^/dev"; } | less -R'
					</command>
				</action>
			</item>	
			<item label="CPU Usage">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e s-tui
					</command>
				</action>
			</item>	
			<item label="WIFI Scan Networks">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bash -c 'if [ "$(iw dev)" ]; then nmcli device wifi rescan; while true; do nmcli dev wifi list; read; clear; done; else echo "No WIFI interfaces found!"; read; fi'
					</command>
				</action>
			</item>	
        </menu>

        <item label="Shortcuts keys" icon="/usr/share/icons/openbox-menu/shortcut.png">
            <action name="Execute">
                <command>
                    yad --text-info --window-icon=keyboard --button="Close" --borders=20 --title="Shortcuts and mouse bindings" --width=700 --height=700 --fontname="Monospace" --filename="/usr/share/doc/openbox/help/shortcuts.txt"
                </command>
            </action>
        </item>		
		
        <separator/>

        <item label="Exit" icon="/usr/share/icons/openbox-menu/exit.png">
            <action name="Execute">
                <command>
                    obexit show
                </command>
            </action>
        </item>
    </menu>
</openbox_menu>
