<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">


    <menu id="root-menu" label="Openbox 3">
<item label="Run Program"><action name="Execute"><command>rofi -show drun -display-drun Search</command></action></item>    <!-- ##BL-POSTINSTALL-rofi -->
        <item label="VirtualBox"><action name="Execute"><command>virtualbox</command></action></item> <separator/>
        <item label="Terminal">
            <action name="Execute">
                <command>
                    x-terminal-emulator
                </command>
            </action>
        </item>
        <item label="Web Browser">
            <action name="Execute">
                <command>
                    x-www-browser
                </command>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <command>
                    x-file-manager
                </command>
            </action>
        </item>
        <item label="Text Editor">
            <action name="Execute">
                <command>
                    x-text-editor
                </command>
            </action>
        </item>
        <separator/>
 
        <menu id="preferences" label="Preferences">
            <menu id="obConfig" label="Openbox">
                <item label="Edit menu.xml">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/menu.xml
                        </command>
                    </action>
                </item>
                <item label="Edit rc.xml">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/rc.xml
                        </command>
                    </action>
                </item>
                <item label="Edit autostart">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/autostart
                        </command>
                    </action>
                </item>
                <separator/>
                <item label="Menu Editor">
                    <action name="Execute">
                        <command>
                            obmenu
                        </command>
                    </action>
                </item>
                <item label="WM Preferences">
                    <action name="Execute">
                        <command>
                            obconf
                        </command>
                    </action>
                </item>
                <item label="How to Edit Menu">
                    <action name="Execute">
                        <command>
                            yad --button="OK":0 --center --window-icon=distributor-logo-bunsenlabs --text-info --title=&quot;How to Edit the Menu&quot; --filename=&quot;/usr/share/bunsen/docs/helpfile-menu.txt&quot; --width=900 --height=700 --fontname=Monospace
                        </command>
                    </action>
                </item>
                <separator/>
                <item label="Reconfigure">
                    <action name="Reconfigure"/>
                </item>
                <item label="Restart">
                    <action name="Restart"/>
                </item>
            </menu>
            <item label="Appearance">
                <action name="Execute">
                    <command>
                        lxappearance
                    </command>
                </action>
            </item>
            <item label="Font configuration">
                <action name="Execute">
                    <command>
                        x-text-editor ~/.config/fontconfig/fonts.conf
                    </command>
                </action>
            </item>
            <item label="Wallpaper">
                <action name="Execute">
                    <command>
                        nitrogen
                    </command>
                </action>
            </item>
            <item label="Notifications">
                <action name="Execute">
                    <command>xfce4-notifyd-config</command>
                </action>
            </item>
            <item label="Power Management">
                <action name="Execute">
                    <command>
                        xfce4-power-manager-settings
                    </command>
                </action>
            </item>
            <menu id="DisplaySettings" label="Display">
                <item label="ARandR Screen Layout Editor">
                    <action name="Execute">
                        <command>
                            arandr
                        </command>
                    </action>
                </item>
                <separator label="Help"/>
                <item label="man xrandr">
                    <action name="Execute">
                        <command>
                            x-terminal-emulator -T 'man xrandr' -e man xrandr
                        </command>
                    </action>
                </item>
            </menu>
        </menu>
        <menu id="system" label="System">
            <item label="Synaptic Package Manager">
                <action name="Execute">
                    <command>
                        pkexec synaptic
                    </command>
                </action>
            </item>
            <item label="GParted">
                <action name="Execute">
                    <command>
                        pkexec gparted
                    </command>
                </action>
            </item>
            <item label="Edit Debian Alternatives">
                <action name="Execute">
                    <command>
                        galternatives
                    </command>
                </action>
            </item>
            <separator/>
        </menu>
        <separator/>
        <item label="Lock Screen">
            <action name="Execute">
                <command>
                    physlock
                </command>
            </action>
        </item>
        <item label="Exit">
            <action name="Execute">
                <command>
                    powermenu show
                </command>
            </action>
        </item>
<!-- comment out or remove the preceding "Exit" item,
and uncomment the following "exit-menu"
for one-click exit options. -->
<!--
        <menu id="exit-menu"></menu>
-->
    </menu>
</openbox_menu>
