<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">


    <menu id="root-menu" label="Openbox 3">
		<item label="Run Program" icon="/usr/share/icons/openbox-menu/search.png">
			<action name="Execute">
				<command>rofi -show drun</command>
			</action>
		</item> 

		<separator/>

		<item label="VirtualBox" icon="/usr/share/icons/openbox-menu/virtualbox.png">
			<action name="Execute">
				<command>
					virtualbox
				</command>
			</action>
		</item> 
		
		<item label="Terminal" icon="/usr/share/icons/openbox-menu/terminal.png">
            <action name="Execute">
                <command>
                    x-terminal-emulator
                </command>
            </action>
        </item>
        <item label="Web Browser" icon="/usr/share/icons/openbox-menu/web-browser.png">
            <action name="Execute">
                <command>
                    x-www-browser
                </command>
            </action>
        </item>
        <item label="File Manager" icon="/usr/share/icons/openbox-menu/file-manager.png">
            <action name="Execute">
                <command>
                    x-file-manager
                </command>
            </action>
        </item>
        <item label="Text Editor" icon="/usr/share/icons/openbox-menu/text-editor.png">
            <action name="Execute">
                <command>
                    x-text-editor
                </command>
            </action>
        </item>
		
        <separator/>
		<menu id="desktop-app-menu" label="Applications" icon="/usr/share/icons/openbox-menu/applications.png" execute="obamenu" />


        <menu id="preferences" label="Preferences" icon="/usr/share/icons/openbox-menu/settings.png">
        	<separator label="GRAPHICAL PREFERENCES"/>
            <menu id="obConfig" label="Openbox">
                <item label="Openbox Preferences">
                    <action name="Execute">
                        <command>
                            obconf
                        </command>
                    </action>
                </item>				
                <item label="Menu Editor">
                    <action name="Execute">
                        <command>
                            obmenu
                        </command>
                    </action>
                </item>				
                <item label="Edit rc.xml">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/rc.xml
                        </command>
                    </action>
                </item>
                <item label="Edit menu.xml">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/menu.xml
                        </command>
                    </action>
                </item>				
                <item label="Edit autostart">
                    <action name="Execute">
                        <command>
                            x-text-editor ~/.config/openbox/autostart
                        </command>
                    </action>
                </item>
                <separator/>
                <item label="Reconfigure">
                    <action name="Reconfigure"/>
                </item>
                <item label="Restart">
                    <action name="Restart"/>
                </item>
            </menu>
        	<menu id="compositor" label="Compositor">
	            <item label="Edit Compositor Settings">
        			<action name="Execute">
	                    <command>
	                        x-text-editor ~/.config/compton.conf
	                    </command>
	                </action>
	            </item>
				<item label="Restart">
					<action name="Execute">
						<command>
							bash -c 'killall compton; compton'
						</command>
					</action>
				</item>						
	            <item label="Stop">
	                <action name="Execute">
	                    <command>
	                        killall compton
	                    </command>
	                </action>
               </item>		
			</menu>			
        	<menu id="tint2" label="Tint2 Taskbar">
	            <item label="Tint2 Config Tool">
        			<action name="Execute">
	                    <command>
	                        tint2conf
	                    </command>
	                </action>
	            </item>
				<item label="Open Your Tints Folder">
        			<action name="Execute">
	                    <command>
	                        x-file-manager ~/.config/tint2/
	                    </command>
	                </action>
	            </item>
	            <item label="Start/Restart">
	                <action name="Execute">
	                    <command>
	                        tint2-session
	                    </command>
	                </action>
               </item>
	            <item label="Stop">
	                <action name="Execute">
	                    <command>
	                        tint2-session stop
	                    </command>
	                </action>
               </item>				
        	</menu>
        	<menu id="conky" label="Conky Panels">
        		<item label="Open Your Conkys Folder">
        			<action name="Execute">
	                    <command>
	                        x-file-manager ~/.config/conky/
	                    </command>
	                </action>
	            </item>
	            <item label="Start/Restart">
	                <action name="Execute">
	                    <command>
	                        conky-session
	                    </command>
	                </action>
               </item>
	            <item label="Stop">
	                <action name="Execute">
	                    <command>
	                        conky-session stop
	                    </command>
	                </action>
               </item>				
        	</menu>			
            <item label="GTK Appearance">
                <action name="Execute">
                    <command>
                        lxappearance
                    </command>
                </action>
            </item>
            <item label="Font Configuration">
                <action name="Execute">
                    <command>
                        x-text-editor ~/.config/fontconfig/fonts.conf
                    </command>
                </action>
            </item>
            <item label="Wallpaper">
                <action name="Execute">
                    <command>
                        nitrogen
                    </command>
                </action>
            </item>
            <item label="Notifications">
                <action name="Execute">
                    <command>xfce4-notifyd-config</command>
                </action>
            </item>
			<item label="Display">
				<action name="Execute">
					<command>
						arandr
					</command>
				</action>
			</item>

        	<separator label="SYSTEM PREFERENCES"/>

            <item label="Synaptic Package Manager">
                <action name="Execute">
                    <command>
                        synaptic-pkexec
                    </command>
                </action>
            </item>
            <item label="Alternatives">
                <action name="Execute">
                    <command>
                        galternatives
                    </command>
                </action>
            </item>
            <item label="Power Management">
                <action name="Execute">
                    <command>
                        xfce4-power-manager-settings
                    </command>
                </action>
            </item>
			<item label="Network Configuration">
				<action name="Execute">
					<command>
						nm-connection-editor
					</command>
				</action>
			</item>
			<item label="Preferred Applications">
				<action name="Execute">
					<command>
						exo-preferred-applications
					</command>
				</action>
			</item>
			<item label="Removable Drives and Media">
				<action name="Execute">
					<command>
						thunar-volman-settings
					</command>
				</action>
			</item>
			<item label="GParted Partition Manager">
				<action name="Execute">
					<command>
						gparted
					</command>
				</action>
			</item>
        </menu>
		
        <menu id="info" label="System info" icon="/usr/share/icons/openbox-menu/stats.png">
			<item label="Memory Usage">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e sudo bash -c "ps_mem.py; read"
					</command>
				</action>
			</item>
			<item label="Process Monitor">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e htop
					</command>
				</action>
			</item>
			<item label="Disks Usage">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bash -c 'lsblk -o name,size,type,mountpoint; echo; dfc -f | egrep "^FILESYSTEM|^/dev"; echo; read'
					</command>
				</action>
			</item>	
			<item label="CPU Usage">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e s-tui
					</command>
				</action>
			</item>	
			<item label="WIFI Scan Networks">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bash -c 'if [ "$(iw dev)" ]; then  while true; do nmcli dev wifi list; read; clear; done; else echo "No WIFI interfaces found!"; read; fi'
					</command>
				</action>
			</item>	
			<item label="Check Pending Updates">
				<action name="Execute">
					<command>
						x-terminal-emulator -m -e bash -c "update-notification; update-notification -i"
					</command>
				</action>
			</item>	
        </menu>
	    
        <menu id="help" label="Help" icon="/usr/share/icons/openbox-menu/help.png">		
	        <item label="Shortcuts and mouse bindings">
	            <action name="Execute">
	                <command>
	                    yad --text-info --button="Close" --borders=20 --title="Shortcuts and mouse bindings" --width=700 --height=700 --fontname="Monospace" --filename="/usr/share/doc/openbox/help/shortcuts.txt"
	                </command>
	            </action>
	        </item>
        </menu>
		
        <separator/>

        <item label="Exit" icon="/usr/share/icons/openbox-menu/exit.png">
            <action name="Execute">
                <command>
                    obexit show
                </command>
            </action>
        </item>
<!-- comment out or remove the preceding "Exit" item,
and uncomment the following "exit-menu"
for one-click exit options. -->
<!--
        <menu id="exit-menu"></menu>
-->
    </menu>
</openbox_menu>
